.fa-twitter{
    color: rgba(110, 27, 27, 0.836);
}
.fa-github{
    color: rgba(110, 27, 27, 0.836);
}
.fa-linkedin{
    color: rgba(110, 27, 27, 0.836);
}
.section-1{
    font-size: 1.5rem;
}
.skills{
    font-size: 1.5rem;    
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}